{% extends "layout.html" %}

{% block content %}
  <h2>Sign up</h2>

  {% for message in form.fname.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  
  {% for message in form.lname.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.serial_no.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  
  {% for message in form.last_ping.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  
  {% for message in form.ip_add.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  
  {% for message in form.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  
  <form action="{{ url_for('signup') }}" method=post>
    {{ form.hidden_tag() }}
    
    {{ form.fname.label }}
    {{ form.fname }}
    
    {{ form.lname.label }}
    {{ form.lname }}
    
    {{ form.serial_no.label }}
    {{ form.serial_no }}
    
    {{ form.last_ping.label }}
    {{ form.last_ping }}
    
    {{ form.ip_add.label }}
    {{ form.ip_add }}

    {{ form.email.label }}
    {{ form.email }}
    
    {{ form.password.label }}
    {{ form.password }}
    
    {{ form.submit }}
  </form>
    
{% endblock %}
